body {
    margin: 0;
    font-family: "Montserrat";
    background-color: white;
}

.top {
    margin-left: 2rem;
}

#header {
    background-color: rgb(12, 153, 235);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 3px 7px 6px black;
}

.container {
    border: rgb(12, 153, 235) solid;
    padding: 2rem;
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    height: 12rem;
}

.image {
    
    float: left;
    height: 12rem;
    border-radius: 0.7rem;
}

.info {
    margin-left: 2rem;
    float: left;
}

.rating {
    float: right;
}

.action {
    background-color: pink;
    padding: 0.5rem;
    margin-right: 0.7rem;
    font-weight: 900;
    border-radius: 0.3rem;
}

.thriller {
    background-color: greenyellow;
    padding: 0.5rem;
    font-weight: 900;
    border-radius: 0.3rem;
}

.info h1 {
    margin-bottom: 0.5rem;
}

.info h3 {
    font-weight: 400;
    padding-bottom: 2rem;
}

.rating {
    color: green;
    font-weight: 900;
    font-size: 2rem;
    margin-right: 2rem;
}

.thumb {
    fill: green;
    display: inline;
}

@media only screen and (max-width:960px) {
    body{font-size:0.7rem}

    .container {
        padding: 0.4rem;
        height: 22rem;
    }

    .info {
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        display: block;
        width:60%;
    }

    .rating {
        width: 1.7rem;
        padding-top: 3.5rem;
        padding-right: 0.5rem;
        font-size: 1rem;
        color: rgb(12, 153, 235);
    }

    .thumb {
        
        fill: rgb(12, 153, 235);
    }
 .image{width: 70%;
margin:2.5% 15% ;
}
.info p{
    padding: 0%;
    width:100%;
}
}